.html {
    box-sizing: border-box;
    overflow-x: auto;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    text-align: left;
    flex-basis: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #e6e6e6;
    color: #e6e6e6;
    line-height: 1.5;
    align-items: center;
    justify-content: center;
    background-image: url("images/background.jpg");
    background-size: cover;
}