.html {
    box-sizing: border-box;
    overflow-x: auto;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    text-align: left;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #e6e6e6;
    color: #222;
    line-height: 1.5;
}

.footer {
    text-align: center;
}